<mat-toolbar color="warn">
  <button mat-icon-button [matMenuTriggerFor]= "menu" aria-label="Menu Formula 1">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/team/list">
      <mat-icon>groups</mat-icon>
      <span>Team</span>
    </button>
    <button mat-menu-item routerLink="/driver/list">
      <mat-icon>sports_motorsports</mat-icon>
      <span>Driver</span>
    </button>
    <button mat-menu-item routerLink="/race/list">
      <mat-icon>sports_score</mat-icon>
      <span>Race</span>
    </button>
  </mat-menu>
  <span>Formula 1 App</span>
  <button mat-icon-button class="home-button-redirect" routerLink="/" aria-label="Home page">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
